/* TODO: Plan to delete. */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.content {
  position: fixed;
  width: 100%;
  height: 100%;
}

.gear {
  position: fixed;
  left: 1rem;
  width: 45%;
  height: 100%;
}

.table {
  position: fixed;
  left: 50%;
  width: 28.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.record {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
}

.record > div {
  transform: skewX(-12deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.record > div > div {
  transform: skewX(12deg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.iconCell {
  background-color: #c1d9f0;
}

.iconCell > div {
  width: 6rem;
  height: 6rem;
  margin-left: -1rem;
  margin-right: 1rem;
  background-color: #c1d9f0;
}

.iconCell > div > img {
  width: 80%;
  height: 80%;
  color: #565656;
}

.valueCell {
  background-color: #53524f;
  width: 22.5rem;
}

.valueCell > div {
  width: 100%;
  height: 6rem;
  background-color: #53524f;
  margin-left: 1rem;
  margin-right: -1rem;
  text-align: right;
}

.valueCell > div > span {
  width: 100%;
  color: #e3e4e5;
  font-family: 'Inconsolata', monospace;
  font-size: 3rem;
  margin-right: 1rem;
}

.currentLap {
  background-color: #53524f;
  margin-right: 0.2rem;
}

.currentLap > div {
  width: 7rem;
  text-align: right;
}

.currentLap > div > span {
  width: 100%;
  color: #e3e4e5;
  font-family: 'Inconsolata', monospace;
  font-size: 3rem;
  margin-right: 1rem;
}

.currentTime {
  background-color: #53524f;
}

.currentTime > div {
  width: 15.3rem;
  height: 6rem;
  background-color: #53524f;
  margin-left: 1rem;
  margin-right: -1rem;
  text-align: right;
}

.currentTime > div > span {
  width: 100%;
  color: #e3e4e5;
  font-family: 'Inconsolata', monospace;
  font-size: 3rem;
  margin-right: 1rem;
}
