/********************************
 * button
 ********************************/
.button {
  width: 3rem;
  font-size: 2rem;
  text-align-last: right;
}

.label {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/********************************
 * button with description
 ********************************/
.buttonWithDescription {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 95%;
  font-size: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #000000;
}
