/*
 * share
 */
.lap > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.time > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.border {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #777777;
}

/*
 * session
 */
.session {
  display: flex;
  align-items: center;
}

.session > div {
  display: flex;
  align-items: center;
}

.session > div > span {
  font-size: 2.5rem;
}

.sessionHeader {
  width: 10rem;
  margin-left: 0.5rem;
}

/*
 * position
 */
.position {
  display: flex;
  align-items: center;
}

.position > div {
  display: flex;
  align-items: center;
}

.position> div > span {
  font-size: 2.5rem;
}

.positionHeader {
  width: 10rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

/*
 * current
 */
.current {
  display: flex;
}

.current > div > span {
  font-size: 2.5rem;
}

.currentLapHeader {
  width: 10rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.currentLapCount {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.currentLapTimeBox {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentLapGap {
  width: 100%;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentLapGap > span {
  color: #1b1d1e;
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
}

.currentLapTime {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentLapTime > span {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: 'Inconsolata', monospace;
}

.evenGap {
}

.plusGap {
  background-color: #C14544;
}

.minusGap {
  background-color: #90C143;
}

/*
 * timeLogs
 */
.timeLogs {
  display: flex;
  flex-direction: column;
}

.timeLogs > div {
  display: flex;
}

.timeLogs > div:not(:last-child) {
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color: #777777;
}

.timeLogs > div > div > span {
  font-size: 2rem;
}

.timeLogLap {
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.timeLogLapCount {
  width: 3rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timeLogTime {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.timeLogDelta {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.evenDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #FFFFFF;
}

.plusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #C14544;
}

.minusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #90C143;
}

/*
 * otherTime 
 */
.otherTime {
  display: flex;
  align-items: center;
}

.otherTime > div {
  display: flex;
  align-items: center;
}

.otherTime > div > span {
  font-size: 2.25rem;
}

.otherTimeHeader {
  width: 8rem;
  margin-left: 0.5rem;
  align-items: center;
}

.otherTimeLap {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.otherTimeLapCount {
  width: 4rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.otherTimeTime {
  display: flex;
  align-items: center;
}
