@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*
 * share
 */
.lap > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.time > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.evenDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #FFFFFF;
}

.plusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #C14544;
}

.minusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #90C143;
}

.border {
  border-top-width: 0.2rem;
  border-top-style: solid;
  border-top-color: #777777;
}

/*
 * session
 */
.session {
  display: flex;
  align-items: center;
}

.session > div {
  height: 3rem;
  display: flex;
  align-items: center;
}

.session > div > span {
  font-size: 2.5rem;
}

.sessionHeader {
  width: 10rem;
  margin-left: 0.5rem;
}

/*
 * position
 */
.position {
  display: flex;
  align-items: center;
}

.position > div {
  height: 3rem;
  display: flex;
  align-items: center;
}

.position> div > span {
  font-size: 2.5rem;
}

.positionHeader {
  width: 10rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}


/*
 * current
 */
.current {
  display: flex;
}

.current > div {
  height: 3rem;
}

.current > div > span {
  font-size: 2.5rem;
}

.currentLap {
  width: 10rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.currentLapCount {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.currentLapTime {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

/*
 * timeLogs
 */
.timeLogs {
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #777777;
  display: flex;
  flex-direction: column;
}

.timeLogs > div {
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #777777;
  height: 2.5rem;
  display: flex;
}

.timeLogs > div > div > span {
  font-size: 2rem;
}

.timeLogLap {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.timeLogLapCount {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.timeLogTime {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.timeLogDelta {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*
 * otherTime 
 */
.otherTime {
  display: flex;
  align-items: center;
}

.otherTime > div {
  height: 2.75rem;
  display: flex;
  align-items: center;
}

.otherTime > div > span {
  font-size: 2.25rem;
}

.otherTimeHeader {
  width: 8rem;
  margin-left: 0.5rem;
  align-items: center;
}

.otherTimeLap {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.otherTimeLapCount {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.otherTimeTime {
  display: flex;
  align-items: center;
}
