@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.contents {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*
 * share
 */
.header > span {
  color: #C1D9F0;
  font-family: 'Oswald', sans-serif;
}

.value > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

/********************************
 * topContents
 ********************************/
.topContents {
  width: 100%;
  height: 100%;

  display: flex;
}

/********************************
 * leftContents
 ********************************/
.leftContents {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.gear {
  width: 95%;
  height: 95%;
}

/********************************
 * rightContents
 ********************************/
.rightContents {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
 * share
 */
.lap > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.time > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.evenDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #FFFFFF;
}

.plusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #C14544;
}

.minusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #90C143;
}

.border {
  border-top-width: 0.2rem;
  border-top-style: solid;
  border-top-color: #777777;
}

/*
 * session
 */
.session {
  display: flex;
  align-items: center;
}

.session > div {
  height: 3rem;
  display: flex;
  align-items: center;
}

.session > div > span {
  font-size: 2.5rem;
}

.sessionHeader {
  width: 9rem;
  margin-left: 0.5rem;
}

.sessionValue {
  justify-content: flex-start;
}

/*
 * position
 */
.position {
  display: flex;
  align-items: center;
}

.position > div {
  height: 3rem;
  display: flex;
  align-items: center;
}

.position> div > span {
  font-size: 2.5rem;
}

.positionHeader {
  width: 9rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}


/*
 * current
 */
.current {
  display: flex;
}

.current > div {
  height: 3rem;
}

.current > div > span {
  font-size: 2.5rem;
}

.currentLap {
  width: 9rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.currentLapCount {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.currentLapTime {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

/*
 * timeLogs
 */
.timeLogs {
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #777777;
  display: flex;
  flex-direction: column;
}

.timeLogs > div {
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #777777;
  height: 2.5rem;
  display: flex;
}

.timeLogs > div > div > span {
  font-size: 1.75rem;
}

.timeLogLap {
  width: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.timeLogLapCount {
  width: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timeLogTime {
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timeLogDelta {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*
 * otherTime 
 */
.otherTime {
  display: flex;
  align-items: center;
}

.otherTime > div {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.otherTime > div > span {
  font-size: 1.75rem;
}

.otherTimeHeader {
  width: 6rem;
  margin-left: 0.5rem;
}

.otherTimeLap {
  width: 1.25rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.otherTimeLapCount {
  width: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.otherTimeTime {
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/********************************
 * bottomContents
 ********************************/
.bottomContents {
  width: 100%;
  height: 6rem;
  display: flex;
}

/*
 * fuel
 */
.fuel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #000000;
}

.fuel > img {
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
}

.fuelValue {
  width: 9rem;
  margin-left: 0.25rem;
  text-align: right;
}

.fuelValue > span {
  font-size: 3rem;
}

.fuelDetails {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fuelDetails > div {
  display: flex;
  align-items: center;
}

.fuelDetailsHeader {
  width: 6rem;
}

.fuelDetailsHeader > span {
  font-size: 1.75rem;
}

.fuelDetailsValue {
  width: 6rem;
  margin-left: 0.2rem;
  text-align: right;
}

.fuelDetailsValue > span {
  font-size: 1.75rem;
}

/*
 * tyre
 */
.tyre {
  width: 100%;
  height: 100%;
  background-color: #222222;
}
