* {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: #565656;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

table {
  border-collapse: collapse;
}

table thead tr td,
table tbody tr td {
  border: 0.1rem solid #555555;
  padding: 0.2rem;
  text-align: right;
}
