* {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: #565656;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
}
