@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.contents {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

/********************************
 * topContents
 ********************************/
.topContents {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-around;
}

.leftButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftTopButtons {
  flex-grow: 1;
  display: flex;
}

.leftTopButtons > div {
  display: flex;
  align-items: center;
}

.crossButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftBottomButtons {
  display: flex;
}

.rightButtons {
  flex-grow: 1;
  display: flex:
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightColumn {
  height: 25%;
  display: flex;
}

/********************************
 * button
 ********************************/
.labelLeft {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelRight{
  display: flex;
  flex-direction: column;
}

.input {
  display: none;
}

.span {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: rgba(255, 85, 94, 1);
}

.span:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: rgba(255, 85, 94, 0.3);
}

.input:checked + .span:before {
  animation: pulsate 0.2s ease-out;
}

@keyframes pulsate {
  0% {
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(8, 8);
    opacity: 0.0;
  }
}

/********************************
 * button with description
 ********************************/
.buttonWithDescription {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

/********************************
 * custom button
 ********************************/
.customButton {
  width: 8rem;
  border-style: solid;
  border-color: #899ba9;
  border-width: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customButton > span {
  margin: 0.5rem;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.customButton:hover {
  background-color: #80adfd;
}

.customButton:hover > span {
  color: #000000;
}

/********************************
 * bottomContents
 ********************************/
.bottomContents {
  width: 100%;
  height: 12rem;
  display: flex;
  background-color: #555555;
}
