@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: #565656;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.contents {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1b1d1e;
}

/********************************
 * share
 ********************************/
.header > span {
  color: #c1d9f0;
  font-family: 'Oswald', sans-serif;
}

.value > span {
  color: #ffffff;
  font-family: 'Inconsolata', monospace;
}

/********************************
 * topContents
 ********************************/
.topContents {
  width: 100%;
  height: 100%;
  display: flex;
}

/********************************
 * leftContents
 ********************************/
.leftContents {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********************************
 * rightContents
 ********************************/
.rightContents {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}


/*
 * share
 */
.lap > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.time > span {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

.evenDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #FFFFFF;
}

.plusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #C14544;
}

.minusDelta > span {
  font-family: 'Inconsolata', monospace;
  color: #90C143;
}

.border {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #777777;
}

/*
 * session
 */
.session {
  display: flex;
  align-items: center;
}

.session > div {
  display: flex;
  align-items: center;
}

.session > div > span {
  font-size: 2.5rem;
}

.sessionHeader {
  width: 10rem;
  margin-left: 0.5rem;
}

/*
 * position
 */
.position {
  display: flex;
  align-items: center;
}

.position > div {
  display: flex;
  align-items: center;
}

.position> div > span {
  font-size: 2.5rem;
}

.positionHeader {
  width: 10rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

/*
 * current
 */
.current {
  display: flex;
}

.current > div {
}

.current > div > span {
  font-size: 2.5rem;
}

.currentLap {
  width: 10rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.currentLapCount {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.currentLapTime {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

/*
 * timeLogs
 */
.timeLogs {
  display: flex;
  flex-direction: column;
}

.timeLogs > div {
  display: flex;
}

.timeLogs > div:not(:last-child) {
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color: #777777;
}

.timeLogs > div > div > span {
  font-size: 2rem;
}

.timeLogLap {
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.timeLogLapCount {
  width: 3rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timeLogTime {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.timeLogDelta {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*
 * otherTime 
 */
.otherTime {
  display: flex;
  align-items: center;
}

.otherTime > div {
  display: flex;
  align-items: center;
}

.otherTime > div > span {
  font-size: 2.25rem;
}

.otherTimeHeader {
  width: 8rem;
  margin-left: 0.5rem;
  align-items: center;
}

.otherTimeLap {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.otherTimeLapCount {
  width: 4rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.otherTimeTime {
  display: flex;
  align-items: center;
}

/********************************
 * bottomContents
 ********************************/
.bottomContents {
  width: 100%;
  height: 12rem;
  display: flex;
}
