.menuopen {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0;
  width: 2rem;
  height: 2rem;
  background: none;
}

.menuopen:focus {
  outline: 0;
}

.menuopen:before, .menuopen:after {
  position: absolute;
  content: "";
  display: block;
  width: 2rem;
  height: 0.2rem;
  background: #FFFFFF;
  border-radius: 0.1rem;
  transition: 0.25s transform 0s, 0.1s top 0.25s, 0.1s box-shadow 0.25s;
}

.menuopen:before {
  top: 0;
}

.menuopen:after {
  top: 0.9rem;
  box-shadow: 0rem 0.9rem 0rem #FFFFFF;
}

.menuopen:checked:before, .menuopen:checked:after {
  top: 1rem;
  box-shadow: 0rem 0rem 0rem #FFFFFF;
  transition: 0.25s transform 0.25s, 0.1s top 0s, 0.1s box-shadow 0s;
}

.menuopen:checked:before {
  transform: rotate(135deg)
}

.menuopen:checked:after {
  transform: rotate(45deg)
}
