.menuopen {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0;
  width: 2rem;
  height: 2rem;
  background: none;
}

.menuopen:focus {
  outline: 0;
}

.menuopen:before, .menuopen:after {
  position: absolute;
  content: "";
  display: block;
  width: 2rem;
  height: 0.2rem;
  background: #FFFFFF;
  border-radius: 0.1rem;
  transition: 0.25s transform 0s, 0.1s top 0.25s, 0.1s box-shadow 0.25s;
}

.menuopen:before {
  top: 0;
}

.menuopen:after {
  top: 0.9rem;
  box-shadow: 0rem 0.9rem 0rem #FFFFFF;
}

.menuopen:checked:before, .menuopen:checked:after {
  top: 1rem;
  box-shadow: 0rem 0rem 0rem #FFFFFF;
  transition: 0.25s transform 0.25s, 0.1s top 0s, 0.1s box-shadow 0s;
}

.menuopen:checked:before {
  transform: rotate(135deg)
}

.menuopen:checked:after {
  transform: rotate(45deg)
}



/* input[type="checkbox"]:checked { */
    /* [> Apply Styles Here <] */
/* } */

.menuIcon2 {
  z-index: 3;
  position: absolute;
  margin: 1rem;
}

.toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  width: 3rem;
  height: 4rem;
  z-index: 5;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f8982b;
  transition: all 0.3s ease-in-out;
}

/**
Animations
**/
.toggle:checked + .hamburger > .topBun {
  margin-top: 1.5rem;
  transform: rotate(-45deg);
}
.toggle:checked + .hamburger > .bottomBun {
  opacity: 0;
  transform: rotate(45deg);
}
.toggle:checked + .hamburger > .meat {
  margin-top: -0.5rem;
  transform: rotate(45deg);
}

.toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
