@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: #565656;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

* {
  cursor: "pointer"
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.contents {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.table {
  position: fixed;
  left: 50%;
  width: 28.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.record {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
}

.record > div {
  transform: skewX(-12deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.record > div > div {
  height: 6rem;
  transform: skewX(12deg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.iconCell {
  background-color: #C1D9F0;
}

.iconCell > div {
  width: 6rem;
  height: 6rem;
  margin-left: -1rem;
  margin-right: 1rem;
  background-color: #C1D9F0;
}

.iconCell > div > img {
  width: 80%;
  height: 80%;
  color: #565656;
}

.valueCell {
  background-color: #53524F;
}

.valueCell > div {
  background-color: #53524F;
}

.valueCell > div > span {
  color: #E3E4E5;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
  text-align: right;
}

.value1Cell {
  width: 11rem;
  margin-left: 0.1rem;
}

.value1Cell > div {
  width: 9rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.value2Cell {
  width: 11rem;
  margin-left: 0.1rem;
}

.value2Cell > div {
  width: 10rem;
  margin-right: -2.25rem;
}

.value2Cell > div > span {
  color: #E3E4E5;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.fuelRecord {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
}

.fuelRecord > .iconCell,
.fuelRecord > .fuelValueCell {
  transform: skewX(-12deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fuelRecord > .iconCell > div,
.fuelRecord > .fuelValueCell > div {
  transform: skewX(12deg);
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.fuelValueCell {
  width: 8rem;
  margin-left: 0.1rem;
}

.fuelValueCell > div {
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fuelDetailsTable {
  margin-left: 2.75rem;
  background-color: #53524F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fuelDetailsTable > div {
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fuelDetailsTable > div > div {
  width: 50%;
  transform: skewX(-12deg);
}

.fuelDetailsTable > div > div > div {
  height: 3rem;
  transform: skewX(12deg);
  margin-left: 4rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fuelDetailsRecord2 {
  margin-left: -1.2675rem;
}

.fuelDetailsHeaderCell {
  background-color: #C1D9F0;
}

.fuelDetailsRecord1 > .fuelDetailsHeaderCell > div > span {
  margin-left: -3.25rem;
}

.fuelDetailsRecord2 > .fuelDetailsHeaderCell > div > span {
  margin-left: -3rem;
}

.fuelDetailsRecord2 > .fuelDetailsValueCell > div > span {
  margin-left: 1.25rem;
}

.fuelDetailsHeaderCell {
  margin-left: -4.5rem;
}
