* {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: #565656;
}
*:focus {
  outline: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
}

ul {
  margin: 0;
  padding-left: 0;
  position: fixed;
  top: 8%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: -30vw;
  overflow: hidden;
  width: 30vmin;
  height: 100vmax;
  padding: 2rem;
  transition: left 0.5s, right 0.5s;
  background-color: #868686;
}

.filter {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #555555;
  opacity: 0.0;
  /* タッチイベントをonclickイベントで実行される。 */
  cursor: pointer;
}

.contents {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #DDDDDD;
  /* タッチイベントをonclickイベントで実行される。 */
  cursor: pointer;
}
