@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: "pointer"
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.contents {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/********************************
 * topContents
 ********************************/
.topContents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #000;

}

.header,
.darkRecord,
.brightRecord {
  width: 100%;
  display: flex;
}

.header > div,
.darkRecord > div,
.brightRecord > div {
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.header > div > span,
.darkRecord > div > span,
.brightRecord > div > span {
  font-size: 1.75rem;
}

.lapHeader,
.timeHeader,
.deltaHeader,
.titleCell {
  background-color: #C1D9F0;
}

.lapCell {
  background-color: #30CDFF;
}

.darkRecord > .timeCell,
.darkRecord > .evenDeltaCell,
.darkRecord > .plusDeltaCell,
.darkRecord > .minusDeltaCell {
  background-color: #53524F;
}

.brightRecord > .timeCell,
.brightRecord > .evenDeltaCell,
.brightRecord > .plusDeltaCell,
.brightRecord > .minusDeltaCell {
  background-color: #75726D;
}

.tileHeader > span,
.lapHeader > span,
.timeHeader > span,
.deltaHeader > span,
.titleCell > span
{
  font-family: 'Oswald', sans-serif;
}

.lapCell > span,
.timeCell > span,
.evenDeltaCell > span,
.plusDeltaCell > span,
.minusDeltaCell > span {
  font-family: 'Inconsolata', monospace;
}

.header > div > span,
.titleCell > span,
.lapCell > span {
  color: #063B4B;
}

.timeCell > span,
.evenDeltaCell > span {
  color: #E3E4E5;
}

.plusDeltaCell > span {
  color: #C14544;
}

.minusDeltaCell > span {
  color: #90C143;
}

.titleHeader,
.titleCell {
  width: 8rem;
}

.lapHeader,
.lapCell {
  width: 3.5rem;
}

.timeHeader,
.timeCell {
  width: 9rem;
}

.deltaHeader,
.evenDeltaCell,
.plusDeltaCell,
.minusDeltaCell {
  width: 10rem;
}

.lapHeader,
.timeHeader,
.deltaHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleCell {
  display: flex;
  align-items: center;
}

.lapCell,
.timeCell,
.evenDeltaCell,
.plusDeltaCell,
.minusDeltaCell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titleCell > span {
  margin-left: 0.5rem;
}

.lapCell > span,
.timeCell > span,
.evenDeltaCell > span,
.plusDeltaCell > span,
.minusDeltaCell > span
{
  margin-right: 0.5rem;
}

/********************************
 * bottomContents
 ********************************/
.bottomContents {
  width: 100%;
  height: 12rem;

  background-color: blue;
}
