/* TODO: Plan to delete. */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.content {
  position: fixed;
  width: 100%;
  height: 100%;
}

.gear {
  position: fixed;
  left: 1rem;
  width: 45%;
  height: 100%;
}

.table {
  position: fixed;
  left: 50%;
  width: 28.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.record {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
}

.record > div {
  transform: skewX(-12deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.record > div > div {
  height: 6rem;
  transform: skewX(12deg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.iconCell,
.iconCell > div {
  background-color: #C1D9F0;
}

.iconCell > div {
  width: 6rem;
  height: 6rem;
  margin-left: -1rem;
  margin-right: 1rem;
}

.iconCell > div > img {
  width: 80%;
  height: 80%;
}

.valueCell,
.valueCell > div,
.fuelDetailsTable {
  background-color: #53524F;
}

.valueCell > div > span {
  color: #E3E4E5;
  font-family: 'Inconsolata', monospace;
  text-align: right;
}

.value1Cell,
.value2Cell {
  width: 11rem;
  margin-left: 0.1rem;
}

.value1Cell > div {
  width: 9rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.value2Cell > div {
  width: 10rem;
  margin-right: -2.25rem;
}

.value2Cell > div > span {
  margin-right: 1rem;
}

.fuelRecord {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
}

.fuelRecord > .iconCell,
.fuelRecord > .fuelValueCell {
  transform: skewX(-12deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fuelRecord > .iconCell > div,
.fuelRecord > .fuelValueCell > div {
  transform: skewX(12deg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.fuelValueCell {
  margin-left: 0.1rem;
}

.fuelValueCell > div {
  width: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fuelDetailsTable {
  margin-left: 2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fuelDetailsRecord1,
.fuelDetailsRecord2 {
  width: 11rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fuelDetailsRecord2 {
  margin-left: -1.25rem;
}

.fuelDetailsRecord2 > .fuelDetailsValueCell > div > span {
  margin-left: 1.25rem;
}

.fuelDetailsHeaderCell {
  margin-left: -4.5rem;
  background-color: #C1D9F0;
}

.fuelDetailsHeaderCell,
.fuelDetailsValueCell {
  width: 50%;
  transform: skewX(-12deg);
}

.fuelDetailsHeaderCell > div,
.fuelDetailsValueCell > div {
  height: 3rem;
  transform: skewX(12deg);
  margin-left: 4rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fuelDetailsHeaderCell > div > span {
  margin-left: -3.25rem;
  color: #565656;
  font-family: 'Oswald', sans-serif;
}

.fuelValueCell > div > span {
  font-size: 2.5rem;
  margin-right: -0.5rem;
}

.fuelDetailsHeaderCell > div > span {
  font-size: 1.25rem;
}

.fuelDetailsRecord1 > .fuelDetailsValueCell > div {
  width: 3.5rem;
}

.fuelDetailsRecord2 > .fuelDetailsValueCell > div {
  width: 4rem;
}

.fuelDetailsRecord1 > .fuelDetailsValueCell > div > span {
  margin-left: -1.75rem;
}

.fuelDetailsRecord2 > .fuelDetailsValueCell > div > span {
  margin-left: -1rem;
}

.fuelDetailsValueCell > div > span {
  font-size: 1.5rem;
}

.value1Cell > div > span,
.value2Cell > div > span {
  font-size: 2.5rem;
}
