.timeLogTable {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  flex-basis: 0;
}

.header,
.current,
.fastest,
.average,
.timeLogTable > div {
  height: 3rem;
}

.header,
.current,
.fastest,
.average,
.timeLogTable > div {
  display: flex;
}

.header,
.fastest,
.timeLogTable > div:not(:last-child) {
  margin-bottom: 0.1rem;
}

.header > div,
.current > div,
.fastest > div,
.average > div,
.timeLogTable > div > div {
  margin-right: 0.1rem;
}

.header > div > span,
.current > div > span,
.fastest > div > span,
.average > div > span,
.timeLogTable > div > div > span {
  font-size: 1.75rem;
}

.lapHeader,
.timeHeader,
.deltaHeader,
.titleCell {
  background-color: #c1d9f0;
}

.lapCell {
  background-color: #30cdff;
}

.darkRecord > .timeCell,
.darkRecord > .evenDeltaCell,
.darkRecord > .plusDeltaCell,
.darkRecord > .minusDeltaCell,
.timeLogTable > div:nth-child(even) > .timeCell,
.timeLogTable > div:nth-child(even) > .evenDeltaCell,
.timeLogTable > div:nth-child(even) > .plusDeltaCell,
.timeLogTable > div:nth-child(even) > .minusDeltaCell {
  background-color: #333333;
}

.brightRecord > .timeCell,
.brightRecord > .evenDeltaCell,
.brightRecord > .plusDeltaCell,
.brightRecord > .minusDeltaCell,
.timeLogTable > div:nth-child(odd) > .timeCell,
.timeLogTable > div:nth-child(odd) > .evenDeltaCell,
.timeLogTable > div:nth-child(odd) > .plusDeltaCell,
.timeLogTable > div:nth-child(odd) > .minusDeltaCell {
  background-color: #444444;
}

.tileHeader > span,
.lapHeader > span,
.timeHeader > span,
.deltaHeader > span,
.titleCell > span {
  font-family: 'Oswald', sans-serif;
}

.lapCell > span,
.timeCell > span,
.evenDeltaCell > span,
.plusDeltaCell > span,
.minusDeltaCell > span {
  font-family: 'Inconsolata', monospace;
}

.header > div > span,
.titleCell > span,
.lapCell > span {
  color: #063b4b;
}

.timeCell > span,
.evenDeltaCell > span {
  color: #e3e4e5;
}

.plusDeltaCell > span {
  color: #c14544;
}

.minusDeltaCell > span {
  color: #90c143;
}

.titleHeader,
.titleCell {
  width: 8rem;
}

.lapHeader,
.lapCell {
  width: 3.5rem;
}

.timeHeader,
.timeCell {
  width: 9rem;
}

.deltaHeader,
.evenDeltaCell,
.plusDeltaCell,
.minusDeltaCell {
  width: 10rem;
}

.lapHeader,
.timeHeader,
.deltaHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleCell {
  display: flex;
  align-items: center;
}

.lapCell,
.timeCell,
.evenDeltaCell,
.plusDeltaCell,
.minusDeltaCell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titleCell > span {
  margin-left: 0.5rem;
}

.lapCell > span,
.timeCell > span,
.evenDeltaCell > span,
.plusDeltaCell > span,
.minusDeltaCell > span {
  margin-right: 0.5rem;
}
