.slideCheckBox {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 1.5rem;
  background: #899ba9;
  transform: skew(-12deg);
}

.slideCheckBox > label {
  position: absolute;
  z-index: 1;
  display: block;
  top: -0.25rem;
  left: 0rem;
  width: 1.6rem;
  height: 2rem;
  cursor: pointer;
  background: #80adfd;
  transition: all 0.4s ease;
}

.slideCheckBox > input[type='checkbox']:checked + label {
  left: 4.4rem;
}

.slideCheckBox > input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0;
  background: none;
}

/*
 * USAGE
<div class="slideCheckBox">
  <input id="slideCheckBox" type="checkbox" />
  <label for="slideCheckBox"></label>
</div>
*/
