/*
 * menu icon
 */
.menu {
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.menuOpenButton {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  transition: ease-out 200ms;
}

.menuOpen {
  display: none;
}

.hamburger {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 0.2rem;
  margin-top: -0.125rem;
  margin-left: -1rem;
  background: #FFFFFF;
  transition: 200ms;
}

.hamburger1 {
  transform: translateY(-0.5rem);
}

.hamburger3 {
  transform: translateY(0.5rem);
}

.menuOpen:checked + .menuOpenButton > .hamburger1 {
  transform: rotate(45deg);
}

.menuOpen:checked + .menuOpenButton > .hamburger2 {
  transform: scaleX(0);
}

.menuOpen:checked + .menuOpenButton > .hamburger3 {
  transform: rotate(-45deg);
}

.menuOpenButton {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
}

.menuOpen:checked + .menuOpenButton {
  transition-timing-function: linear;
  transition-duration: 200ms;
}
