/*
 * share
 */
.icon {
  width: 4rem;
  background-color: #bfd2e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > img {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
}

/*
 * engine
 */
.engine {
  display: flex;
}

.engine > .icon {
}

.engine > .valueRecords {
  border-top: solid;
  border-top-width: 0.1rem;
  border-top-color: #777777;
  border-right: solid;
  border-right-width: 0.1rem;
  border-right-color: #777777;
  display: flex;
  flex-direction: column;
}

.engine > .valueRecords > .valueRecord {
  border-bottom: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #777777;
  display: flex;
}

.engine > .valueRecords > .valueRecord > .value {
  width: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.engine > .valueRecords > .valueRecord > .value > span {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
}

.engine > .valueRecords > .valueRecord > .unit {
  width: 4.5rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.engine > .valueRecords > .valueRecord > .unit > span {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
}

/*
 * valueTable
 */
.valueTable {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.header > div {
}

.header > div:first-child {
  width: 4rem;
}

.header > div:not(:first-child) {
  width: 7.5rem;
  background-color: #bfd2e3;
  border-right: solid;
  border-right-width: 0.1rem;
  border-right-color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > div > span {
  color: #000000;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
}

.oil,
.water,
.fuel {
  display: flex;
}

.oil > .icon,
.water > .icon,
.fuel > .icon {
  margin-top: 0.1rem;
}

.oil > .valueRecords,
.water > .valueRecords,
.fuel > .valueRecords {
  display: flex;
  flex-direction: column;
}

.oil > .valueRecords > .valueRecord,
.water > .valueRecords > .valueRecord,
.fuel > .valueRecords > .valueRecord {
  border-bottom: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #777777;
  display: flex;
}

.oil > .valueRecords > .valueRecord,
.water > .valueRecords > .valueRecord {
  height: 2rem;
}

.fuel > .valueRecords > .valueRecord {
  height: 4rem;
}

.oil > .valueRecords > .valueRecord > div,
.water > .valueRecords > .valueRecord > div,
.fuel > .valueRecords > .valueRecord > div {
  display: flex;
}

.oil > .valueRecords > .valueRecord > div > .value,
.water > .valueRecords > .valueRecord > div > .value,
.fuel > .valueRecords > .valueRecord > div > .value {
  width: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.oil > .valueRecords > .valueRecord > div > .value > span,
.water > .valueRecords > .valueRecord > div > .value > span,
.fuel > .valueRecords > .valueRecord > div > .value > span {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
}

.oil > .valueRecords > .valueRecord > div > .unit,
.water > .valueRecords > .valueRecord > div > .unit,
.fuel > .valueRecords > .valueRecord > div > .unit {
  width: 3rem;
  height: 100%;
  margin-left: 0.5rem;
  border-right: solid;
  border-right-width: 0.1rem;
  border-right-color: #777777;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.oil > .valueRecords > .valueRecord > div > .unit > span,
.water > .valueRecords > .valueRecord > div > .unit > span,
.fuel > .valueRecords > .valueRecord > div > .unit > span {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
}
